# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/graveyard/
.history

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.idea
.idea/**/*
ssh-scripts
/ssh-scripts/
.DS_Store
.env*
graveyard
/graveyard/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
